@model List<StoreProcedure.Models.Customer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2 class="display-4">Customer List</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <button type="button" class="btn btn-info btn-sm" onclick="newRow()">Add</button>
                    </th>
                    <th colspan="3">
                        <form class="d-flex justify-content-end">
                            <input name="name" class="me-auto form-control form-control-sm" />
                            <button type="submit" class="ms-1 btn-primary btn-sm">Search</button>
                            <button type="button" asp-action="Index" 
                            asp-controller="Home" class="ms-1 btn-warning btn-sm">Clear</button>
                        </form>
                    </th>
                </tr> 
                <tr class="table-primary">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr id="new-row" class="edit-row">
                    <form method="post" asp-controller="Home" asp-action="Insert">
                        <td><input name="customerId" class="form-control form-control-sm"
                            value="0" readonly/></td>
                    <td><input name="name" class="form-control form-control-sm" /></td>
                    <td><input name="country" class="form-control form-control-sm" /></td>
                    <td><button type="submit" class="btn btn-primary btn-sm">Save</button>
                        <button type="button" asp-action="Index"
                                asp-controller="Home" class="ms-1 btn-warning btn-sm">
                            Clear
                        </button>
                    </td>
                    </form>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x=>item.CustomerId)</td>
                        <td>@Html.DisplayFor(x=>item.Name)</td>
                        <td>@Html.DisplayFor(x=>item.Country)</td>
                        <td>
                            <a><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
 @section Scripts{
     <script>
         $(document).ready(() => {
             $(".edit-row").hide();
         })
         function newRow() {
             $(".edit-row").hide();
             $("#new-row").show();
         }
     </script>
 }